.wrap {

  width: 1140px;
  margin: auto;

}

.h1_header {
  padding: 40px 40px 40px 40px;
  color: white;
}

header {
  background-blend-mode: darken;
  adding: 1px 10px 10px 10px;
  height: 120px;
  background: #4f6178;
  font-family: Ubuntu;

}

.content {
  background: #ffebcd;
  width: 75%;
  padding: 20px 20px 20px 20px;
  height: 100%;
  float: left;
  clear: both;
}

.ul_list {
  font-family: Ubuntu;
  font-size: large;
  color: black;
}

.ul_aside {
  font-family: Ubuntu;
  font-size: large;
  color: black;
  clear: both;
}

aside {
  background: #b1a4a2;
  padding: 1px 10px 10px 10px;
  width: 15%;
  height: 100%;
  float: right;
}

footer {
  height: 140px;
  background: #4f6178;
  clear: both;
}

.nav_bar {
  padding: 3px 0px 40px 40px;
}

.navbar_link {
  color: white;

}